*{
    padding: 0;
    margin: 0;
}

.grid{
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-areas: 
    "header header"
    "content content"
    "footer footer";
}

.header{
    height:10vh;
    width:100vw;
    background-color: navy;
    grid-area: header;

    text-align: center;
    color: lightgray;
}

.content-area{
    height: 80vh;
    width: 100vw;
    padding: 0;
    margin: 0;
    background-color: lightgray;
    grid-area: content;

    text-align: center;
}

.footer{
    height: 10vh;
    width: 100vw;
    padding: 0;
    background-color: black;
    grid-area: footer;
}