*{
    padding: 0;
    margin: 0;
}

body{
    background-color:rgba(137, 43, 226, 0.575);
}

/* Mobile */
.grid{
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-areas: 
    "header header"
    "content content"
    "footer footer";
}

.header{
    height:auto;
    background-color: navy;
    grid-area: header;
    width: 100%;
    z-index: 12;
    position: fixed;

    text-align: center;
    color: lightgray;
}

.fa{
    padding: 1vh 0 1vh 0;
    display: block;
    width: 100%;
    cursor: pointer;
}

.header nav ul{
    overflow: hidden;
    background: rgb(18, 18, 85);
    height: 0;
}

.header nav ul.open{
    height: auto;
}

.header nav ul li{
    float: none;
    width: 100%;
    list-style: none;
}

.header nav ul li a{
    text-decoration: none;
    color: white;
    padding: 7px;
    border-bottom: 1px solid navy;
    display: block;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.content-area{
    height: auto;
    padding: 0;
    margin: 0;
    background-color: lightgray;
    grid-area: content;
    text-align: center;
}

.home{
    height: 85vh;
    width: 100%;
    background-image: url("Images/background-small.jpg");
    background-size: cover;
    background-position: center center;
    position: fixed;
}

.about{
    position: relative;
    top: 85vh;
    height: 50vh;
    width: 100%;
    background-color: green;
}

.contact{
    position: relative;
    top: 85vh;
    height: 50vh;
    width: 100%;
    background-color: blue;
}

.footer{
    height: 5vh;
    padding: 0;
    background-color: black;
    grid-area: footer;
    top: 85vh;
    position: relative;
}

/* Tablet */
@media screen and (min-width: 412px) {

    .home{
        background-image: url("Images/background-medium.jpg");
        background-position: center center;
    }
    .header{
        text-align: none;
    }
}


/* Desktop */
@media screen and (min-width: 812px) {
    .grid{
        display: grid;
        grid-template-columns: 
        10% 40% 40% 10%;
        grid-template-areas: 
        ". header header . "
        ". content content ."
        ". footer footer .";
    }

    .home{
        background-image: url("Images/background-full.jpg");
        background-size: cover;
        background-position: center center;
        width: 80%;
    }

    .header{
        text-align: none;
    }
}